################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Makao/Makao/Makao.Windows/bin
/Makao/Makao/Makao.Windows/obj
/Makao/Makao/Makao.WindowsPhone/bin/Debug
/Makao/Makao/Makao.WindowsPhone/obj
/Makao/Makao.Common/bin/Debug
/Makao/Makao.Common/obj/Debug
/Makao/Makao.Models/bin/Debug
/Makao/Makao.Models/obj/Debug
/Makao/MakaoHub/bin
/Makao/MakaoHub/obj
/Makao/packages
/Makao/Makao.Common/bin/Release
/Makao/Makao.Common/obj/Release
/Makao/Makao.Game/Makao.Game.Windows/bin/Debug
/Makao/Makao.Game/Makao.Game.Windows/obj/Debug
/Makao/Makao.Game/Makao.Game.WindowsPhone/bin/Debug
/Makao/Makao.Game/Makao.Game.WindowsPhone/obj/Debug
/Makao/Makao.Models/bin/Release
/Makao/Makao.Models/obj/Release
/Makao/Makao.Tests/bin/Debug
/Makao/Makao.Tests/obj/Debug
/Makao/Makao.Game.UWP/obj/x86/Debug
/Makao/Makao.Game.UWP/bin/x86/Debug
.vs
/Makao/Makao.Data/obj/Debug
/Makao/Makao.Hub.Models/obj/Debug
/Makao/Makao.Game.UWP/bin/x86/Release
/Makao/Makao.Game.UWP/obj/x86/Release
/Makao/Makao.Data/obj/Release
